* {
    box-sizing: border-box;
}

#wrap{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: left;
}

#Professor_table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 10px;
    table-layout: fixed;
}

#Professor_table td {
    padding: 1px;
}

#Professor_table tr {
    text-align: center;
}

#Professor_table tr td {
    width: auto;
}

.label {
    background-color: aquamarine;
    font-weight: bold;
    font-size: 14px;
}

.updButton {
	width: 45px !important;
}

#search-group input {
    width: 300px;
    height: 40px;
}
.btn {
    width: 100px;
    height: 40px;
    background-color: rgb(214, 237, 245);
    font-weight: bold;
}

.btn:hover{
    background-color: steelblue;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 1100px;
    margin: 0 auto 10px;
}

.search-group {
    width: 1100px;
    display: flex;
    gap: 10px;
}

select {
    width: 80px;
    padding: 8px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#Professor_table tr.label td {
    border: 1px solid black;
}

#Professor_table tr:not(.label) td {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}

#lectureUpdTR td input{
	width: 80px;
	
}

#day, #grade {
	width: 130px;
}

.shortTD {
	width: 60px !important;
}

.middleTD {
	width: 70px !important;
}

.score{
    width: 70px;
    border-radius: 8px;
    text-align: center;
}

h3 {
    width: 1100px;
    margin: 10px auto;
}

#wrap button{
    width: 75px;
    cursor: pointer;
}


.paging {
	padding: 5px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    margin-right: 5px;
}

.paging:hover {
	background-color: gray;
    color: #fff;
}

.span {
	padding: 5px;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    margin-right: 5px;
}

.page-nav {
	padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
}

.page-nav:hover {
	background-color: gray;
    color: #fff;
}

.page-nav.disabled {
	/* opacity: 0.5;
    cursor: default; */
    display: none;
}

.button-container, .delete-form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}